name: PR Scans

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  TERRAFORM_DOCS_VERSION: v0.18.0
  TFLINT_VERSION: v0.46.1

jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Find terraform version
        id: maxVer
        uses: clowdhaus/terraform-min-max@v1.3.1

      - name: Pre-commit Terraform ${{ steps.maxVer.outputs.maxVersion }}
        uses: clowdhaus/terraform-composite-actions/pre-commit@v1.9.0
        with:
          terraform-version: ${{ steps.maxVer.outputs.maxVersion }}
          tflint-version: ${{ env.TFLINT_VERSION }}
          terraform-docs-version: ${{ env.TERRAFORM_DOCS_VERSION }}
          install-hcledit: true

  security-scan:
    name: Security checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Run kics Scan
        uses: checkmarx/kics-github-action@v2.1.1
        with:
          path: '.'
          ignore_on_exit: results
          output_path: kicsScan/
